<p>Please fill in the form below to book a room:</p>
<form>
  <div class="card mb-4">
    <div class="card-body">
      <div id="collapsePOCDetails">
        <div class="mb-3">
          <label for="serviceNumber" class="form-label">Service number</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="serviceNumber" name="booking[serviceNumber]" placeholder="30123456" required>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-5">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" name="booking[firstName]" placeholder="First name" required>
          </div>
          <div class="col-sm-5">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" name="booking[lastName]" placeholder="Last name" required>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary col-sm-3 mb-5">Book</button>
</form>