<p>Please fill in the form below to book a room:</p>
<form #f="ngForm" (ngSubmit)="addBooking(f)">
  <div class="card mb-4">
    <div class="card-body">
      <div id="collapsePOCDetails">
        <div class="mb-3">
          <label for="serviceNumber" class="form-label">Service number</label>
          <div class="col-md-2">
            <input 
              type="text" 
              class="form-control" 
              id="serviceNumber" 
              name="serviceNumber" 
              placeholder="30123456" 
              required 
              [(ngModel)]="bookRoom.serviceNumber">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-5">
            <label for="firstName" class="form-label">First name</label>
            <input 
              type="text" 
              class="form-control" 
              id="firstName" 
              name="firstName" 
              placeholder="First name" 
              required
              [(ngModel)]="bookRoom.firstName">
          </div>
          <div class="col-sm-5">
            <label for="lastName" class="form-label">Last name</label>
            <input 
              type="text" 
              class="form-control" 
              id="lastName" 
              name="lastName" 
              placeholder="Last name" 
              required
              [(ngModel)]="bookRoom.lastName">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary col-sm-3 mb-5" type="submit">Book</button>
</form>

<ul>
  <li *ngFor="let data of roomData | async">
    {{ data.serviceNumber }} / {{ data.firstName }} / {{ data.lastName }}
    <button (click)="updateBooking(data.id)">Edit</button>
    <button (click)="deleteBooking(data.id)">Delete</button>
  </li>
</ul>