<div class="container min-vh-100">

  <div class="row mt-5 mb-5">

    <div class="col-md-4">

      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/bookings/book-room">
          <!-- <fa-icon [icon]="faFolderPlus" size="3x"></fa-icon> -->
          <h3 class="card-title mt-4">Book a room</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">Reserve a room in the mess</h6>
        </div>
      </div>
   
    </div>

    <div class="col-md-4">

      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/bookings/book-meal">
          <!-- <fa-icon [icon]="faFolderOpen" size="3x"></fa-icon> -->
          <h3 class="card-title mt-4">Book a meal</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">Book a meal in the mess</h6>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/bookings/my-bookings">
          <!-- <fa-icon [icon]="faMicrophone" size="3x"></fa-icon> -->
          <h3 class="card-title mt-4">My bookings</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">View and edit your bookings</h6>
        </div>
      </div>

    </div>

  </div>

</div>